Repository ansible-collections/community.zabbix, pull requests merged in 2020-10, with the labels that each got.

#231 Added release cycle and versioning documentation
  docs/RELEASE.md
Labels: documentation

#237 Fix not included tasks with tags
  roles/zabbix_agent/tasks/main.yml
Labels: enhancement, role

#240 Zabbix_user should not require password when ALL groups are set to LDAP
  changelogs/fragments/240-zabbix-user-nopass-ldap.yaml
  plugins/modules/zabbix_user.py
  tests/integration/targets/test_zabbix_user/tasks/main.yml
Labels: documentation, enhancement, module

#229 Update zabbix.py
  scripts/inventory/zabbix.py
Labels: enhancement

#247 Add missing become: yes for AutoPSK
  roles/zabbix_agent/tasks/tlspsk_auto.yml
Labels: bug, role

#246 preparation for 1.1.0 release
  CHANGELOG.rst
  README.md
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/240-zabbix-user-nopass-ldap.yaml
  changelogs/fragments/role-agent-correct-usage-acl.yaml
  changelogs/fragments/role-agent-zabbix-agent2-props.yaml
  changelogs/fragments/role-server-screen-output.yaml
  changelogs/fragments/role-web-add-support-for-nginx.yaml
  changelogs/fragments/role-web-added-some-properties.yaml
  changelogs/fragments/roles-all-add-become.yaml
  changelogs/fragments/roles-all-configure-conf-mode.yaml
  changelogs/fragments/roles-server-proxy-add-innodb-check.yaml
  galaxy.yml
Labels: documentation, module, role
